In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('china_soil.csv')

In [4]:
df.head()

,Unnamed: 0,PRID,PDID,LAT,LONG,SAND_PCT,SILT_PCT,CLAY_PCT,CLASS
0,3755,CN10003,CN001,24.99775,117.5187,33.0,29.0,38.0,Hard
1,4684,CN10005,CN001,23.87516,117.1033,13.0,44.0,44.0,Hard
2,1305,CN10009,CN001,24.16404,117.6339,52.0,19.0,29.0,Soft
3,1309,CN10017,CN001,25.53669,118.2195,49.0,31.0,20.0,Soft
4,1310,CN10023,CN001,27.63272,117.8903,49.0,23.0,28.0,Soft

In [5]:
df.rename(columns={'LAT': 'LATITUDE', 'LONG': 'LONGITUDE'}, inplace=True)

In [6]:
df['PI_VAL'] = np.nan

In [7]:
df['COUNTRY'] = 'CN'

In [8]:
final_df = df.loc[:, ['LATITUDE', 'LONGITUDE', 'COUNTRY', 'SAND_PCT', 'SILT_PCT', 'CLAY_PCT', 'PI_VAL', 'CLASS']]

In [9]:
final_df.head()

   LATITUDE  LONGITUDE COUNTRY  SAND_PCT  SILT_PCT  CLAY_PCT  PI_VAL CLASS
0  24.99775   117.5187      CN      33.0      29.0      38.0     NaN  Hard
1  23.87516   117.1033      CN      13.0      44.0      44.0     NaN  Hard
2  24.16404   117.6339      CN      52.0      19.0      29.0     NaN  Soft
3  25.53669   118.2195      CN      49.0      31.0      20.0     NaN  Soft
4  27.63272   117.8903      CN      49.0      23.0      28.0     NaN  Soft

In [10]:
final_df.to_csv('china_soil_db.csv', index=False)